@-webkit-keyframes rotateAlbumArt {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateAlbumArt {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

html {
  scroll-behavior: smooth;
}

header nav {
  background: #f4f4f4;
  height: 90px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

header nav .checkbtn {
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

header nav .checkbtn:hover,
header nav .checkbtn:active {
  color: #E56F2D;
}

header nav #check {
  display: none;
}

header nav .logo {
  padding: 0 50px;
  cursor: pointer;
}

header nav .logo p {
  position: absolute;
  top: 30px;
  left: 115px;
  color: #ffb142;
  font-weight: bold;
}

header nav .logo .nong {
  top: 5px;
  left: 102px;
  color: #ff5252;
}

header nav .logo .viet {
  top: 55px;
  left: 105px;
  color: #2a8671;
}

header nav img:hover {
  -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
          animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

header nav ul {
  float: right;
  margin-right: 60px;
  padding-bottom: 10px;
}

header nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

header nav ul li a {
  color: #000;
  font-size: 17px;
  font-weight: 700;
  margin-top: -10px;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: #E56F2D;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header nav ul .dropdown-menu {
  margin: 0;
  margin-top: -8px;
  padding: 0;
  border: none;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  background: #f4f4f4;
}

header nav ul .dropdown-menu li {
  margin-top: -15px;
  padding: 0;
  display: block;
  margin-left: 30px;
  height: 60px;
}

header nav ul .dropdown-menu li a {
  text-decoration: none;
  color: #144758;
  font-size: 17px;
  font-weight: 500;
}

header nav ul .dropdown-menu li a.active,
header nav ul .dropdown-menu li a:hover {
  color: #E56F2D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.banner {
  background-image: url(../image/banner-header.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  padding-bottom: 40%;
  background-size: cover;
  background-position-y: 0%;
  background-position: 79% -85px;
  margin-top: -8px;
}

h2 {
  color: #E56F2D;
  font-size: 180%;
  font-weight: 700;
  text-align: center;
  margin: 40px 0;
}

h2:after {
  content: " ";
  display: block;
  background: #E56F2D;
  width: 150px;
  height: 3px;
  margin: auto;
  margin-top: 5px;
}

.product-section {
  width: 80%;
  margin: 0 auto;
}

.product-section .test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-section .product-item {
  width: 23%;
  min-width: 280px;
  margin: 10px;
  height: 350px;
  margin-bottom: 20px;
  border: 1px solid #a4a4a2;
  border-radius: 10px;
  background: #e2e2e2;
}

.product-section .product-item .wrapper-image {
  height: 200px;
  width: 90%;
  overflow: hidden;
  margin: 13px;
}

.product-section .product-item .wrapper-image .product-image {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.product-section .product-item .product-image:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.product-section .product-item .product-infor {
  margin-left: 20px;
}

.product-section .product-item .product-infor span {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  margin-right: 10px;
}

.product-section .product-item .product-infor p {
  font-size: 14px;
}

.product-section .item-1 .product-image {
  background-image: url(../image/bo_1.jpg);
}

.product-section .item-2 .product-image {
  background-image: url(../image/xoai_12.jpg);
}

.product-section .item-3 .product-image {
  background-image: url(../image/xoai_3.jpg);
}

.product-section .item-4 .product-image {
  background-image: url(../image/xoai_11.jpg);
}

.product-section .item-5 .product-image {
  background-image: url(../image/xoai_11.jpg);
}

.product-section .item-6 .product-image {
  background-image: url(../image/cam_1.jpg);
}

.product-section .item-7 .product-image {
  background-image: url(../image/cam-2.jpg);
}

.product-section .item-8 .product-image {
  background-image: url(../image/xoai_12.jpg);
}

.product-section .item-9 .product-image {
  background-image: url(../image/khoai-lang.jpg);
}

.product-section .item-10 .product-image {
  background-image: url(../image/dua-hau.jpg);
}

.product-section .item-11 .product-image {
  background-image: url(../image/sau-rieng.jpg);
}

.product-section .item-12 .product-image {
  background-image: url(../image/cam.jpg);
}

.slideshow-section {
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* The dots/bullets/indicators */
  /* Fading animation */
}

.slideshow-section .mySlides {
  display: none;
}

.slideshow-section img {
  vertical-align: middle;
}

.slideshow-section .slideshow-container {
  max-width: 78%;
  position: relative;
  margin: auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.slideshow-section .slideshow-container .mySlides {
  width: 100%;
  height: 400px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.slideshow-section .slideshow-container .mySlides .text {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  vertical-align: middle;
  top: 45%;
  left: 40%;
  font-size: 25px;
  display: none;
}

.slideshow-section .slideshow-container .mySlides .text a {
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  font-weight: bold;
}

.slideshow-section .slideshow-container .mySlides .text a:hover {
  color: #E56F2D;
}

.slideshow-section .slideshow-container .mySlides-image-1 {
  background-image: url(../image/cut.jpg);
}

.slideshow-section .slideshow-container .mySlides-image-2 {
  background-image: url(../image/zcn1584424052.png);
}

.slideshow-section .slideshow-container .mySlides-image-3 {
  background-image: url(../image/maxresdefault.jpg);
}

.slideshow-section .slideshow-container .mySlides-image-4 {
  background-image: url(../image/banh_my_thanh_long.jpg);
}

.slideshow-section .slideshow-container .text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-weight: 600;
  display: none;
}

.slideshow-section .slideshow-container .text a {
  color: #fff;
}

.slideshow-section .slideshow-container .text a:hover {
  color: #d79614;
}

.slideshow-section .slideshow-container:hover .mySlides {
  opacity: 0.6;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.slideshow-section .slideshow-container:hover .text {
  display: block;
}

.slideshow-section .prev,
.slideshow-section .next {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: lighter;
}

.slideshow-section .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-section .prev:hover,
.slideshow-section .next:hover {
  background-color: #d79614;
}

.slideshow-section .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.slideshow-section .active,
.slideshow-section .dot:hover {
  background-color: #E56F2D;
}

.slideshow-section .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.feedback-section {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.feedback-section .feedback-item {
  width: 48%;
  max-width: 100%;
  height: 400px;
  padding-bottom: 40;
  position: relative;
}

.feedback-section .feedback-item .feedback-image {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-section .feedback-item .image-1 {
  background-image: url(../image/giai-cuu-mua-1.jpg);
}

.feedback-section .feedback-item .image-2 {
  background-image: url(../image/giai-cuu-mua-2.jpg);
}

.feedback-section .feedback-item .image-3 {
  background-image: url(../image/giai-cuu-mua-3.jpg);
}

.feedback-section .feedback-item .image-4 {
  background-image: url(../image/giai-cuu-mua-5.jpg);
}

.feedback-section .feedback-item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(37, 37, 37, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.feedback-section .feedback-item .overlay .feedback-infor {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.feedback-section .feedback-item .overlay .feedback-infor h3 {
  margin: 20px 0;
}

.feedback-section .feedback-item .overlay .feedback-infor .btn-join {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.feedback-section .feedback-item .overlay .feedback-infor .btn-join a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #E56F2D;
  border-radius: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 600;
  color: #E56F2D;
  background: rgba(255, 255, 255, 0.6);
}

.feedback-section .feedback-item .overlay .feedback-infor .btn-join a:hover {
  background: #E56F2D;
  color: #fff;
}

.feedback-section .feedback-item:hover .overlay {
  height: 100%;
}

.introduction, .meaning {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
}

.introduction .introduction-image, .introduction .meaning-image, .meaning .introduction-image, .meaning .meaning-image {
  background-image: url(../image/office-team-engineering-1080x675.jpg);
  height: 400px;
  width: 49%;
  background-repeat: none;
  background-size: cover;
  margin-right: 20px;
}

.introduction .introduction-image, .meaning .introduction-image {
  background-image: url(../image/office-team-engineering-1080x675.jpg);
}

.introduction .meaning-image, .meaning .meaning-image {
  background-image: url(../image/47.jpg);
}

.introduction .introduction-infor, .introduction .meaning-infor, .meaning .introduction-infor, .meaning .meaning-infor {
  width: 46%;
  height: 400px;
  overflow: hidden;
  line-height: 24px;
  word-spacing: 1px;
  text-align: justify;
  margin-top: 30px;
  color: #000;
}

.introduction .introduction-infor .btn-join, .introduction .meaning-infor .btn-join, .meaning .introduction-infor .btn-join, .meaning .meaning-infor .btn-join {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.introduction .introduction-infor .btn-join a, .introduction .meaning-infor .btn-join a, .meaning .introduction-infor .btn-join a, .meaning .meaning-infor .btn-join a {
  text-decoration: none;
  padding: 12px;
  border: 1px solid #E56F2D;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 600;
  color: #E56F2D;
  background: #fff;
}

.introduction .introduction-infor .btn-join a:hover, .introduction .meaning-infor .btn-join a:hover, .meaning .introduction-infor .btn-join a:hover, .meaning .meaning-infor .btn-join a:hover {
  background: #E56F2D;
  color: #fff;
}

.introduction .introduction-infor p, .introduction .meaning-infor p, .meaning .introduction-infor p, .meaning .meaning-infor p {
  margin-bottom: 10px;
  font-size: 15px;
}

.introduction .introduction-infor p b, .introduction .meaning-infor p b, .meaning .introduction-infor p b, .meaning .meaning-infor p b {
  font-size: 16px;
  color: #000;
}

.introduction .introduction-infor i, .introduction .meaning-infor i, .meaning .introduction-infor i, .meaning .meaning-infor i {
  margin-right: 3px;
  font-size: 18px;
  color: #E56F2D;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 7px;
  right: 20px;
  z-index: 101;
  color: #E56F2D;
  cursor: pointer;
  font-size: 35px;
  background: none;
  border: none;
  opacity: 0.3;
  -webkit-transition: .3s;
  transition: .3s;
  outline: none;
}

#myBtn:hover {
  font-size: 38px;
  opacity: 1;
}

.right-button {
  position: fixed;
  top: 40%;
  right: 15px;
  z-index: 100;
  width: 100px;
}

.right-button i {
  color: #fff;
  font-size: 25px;
  font-style: italic;
}

.right-button i p {
  margin-top: 5px;
  font-size: 16px;
}

.right-button .register {
  padding: 10px;
  background: rgba(229, 111, 45, 0.6);
  margin-bottom: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.right-button .hotline {
  padding: 10px;
  background: rgba(229, 111, 45, 0.6);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.right-button .register:hover, .right-button .hotline:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #E56F2D;
}

.footer-contact {
  width: 100%;
  min-height: 400px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(59, 59, 59, 0.8)), to(rgba(7, 7, 7, 0.6))), url(../image/style-4160377_1920.jpg);
  background-image: linear-gradient(to top, rgba(59, 59, 59, 0.8), rgba(7, 7, 7, 0.6)), url(../image/style-4160377_1920.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.footer-contact a {
  position: absolute;
  left: 49%;
  font-size: 30px;
  color: #E56F2D;
  border: 1px solid #E56F2D;
  padding: 18px 20px;
  top: 35px;
  border-radius: 50%;
  background: rgba(37, 37, 37, 0.6);
  -webkit-transition: all 0.2;
  transition: all 0.2;
}

.footer-contact a:hover {
  background: rgba(37, 37, 37, 0.2);
}

.footer-contact .contact-form {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 100px;
  font-size: 18px;
  text-shadow: 2px 2px 4px #000;
  padding-top: 30px;
  color: #fff;
}

.footer-contact .contact-form h3 {
  font-size: 30px;
  margin-left: 46px;
  margin-bottom: 15px;
}

.footer-contact .contact-input-email {
  position: relative;
  bottom: 0;
  color: #fff;
  padding: 20px;
  display: block;
  top: 120px;
  border: 1px solid #fff;
  width: 450px;
  margin: 0 auto;
}

.footer-contact .contact-input-email input {
  color: #fff;
  border: none;
  background: none;
  outline: none;
  width: 360px;
}

.footer-contact .contact-input-email i {
  padding-left: 15px;
  font-size: 22px;
  cursor: pointer;
  border-left: 1px solid #fff;
}

.footer-contact .contact-input-email input::-webkit-input-placeholder {
  color: #fff;
  font-size: 17px;
  margin-top: 5px;
}

.footer-contact .contact-input-email input:-ms-input-placeholder {
  color: #fff;
  font-size: 17px;
  margin-top: 5px;
}

.footer-contact .contact-input-email input::-ms-input-placeholder {
  color: #fff;
  font-size: 17px;
  margin-top: 5px;
}

.footer-contact .contact-input-email input::placeholder {
  color: #fff;
  font-size: 17px;
  margin-top: 5px;
}

.footer-contact .copyright {
  position: absolute;
  width: 100%;
  padding: 15px 0;
  color: #d3d0d0;
  font-size: 17px;
  font-weight: lighter;
  bottom: 0;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #0f0f0f;
  background: rgba(37, 37, 37, 0.4);
}

.seciton-newsletter {
  width: 80%;
  margin: 0 auto;
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
}

.seciton-newsletter .form-register {
  text-align: center;
}

.seciton-newsletter b {
  font-size: 18px;
}

.seciton-newsletter .newsletter-image {
  text-align: center;
  background-size: cover;
}

.seciton-newsletter .image-0 {
  background-image: url(../image/box2-15835611288751373584987.jpg);
  width: 100%;
  height: 400px;
  margin: 40px 0;
}

.slideshow-section {
  margin-bottom: 50px;
}

.form-section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
  font-size: 18px;
}

.form-section span {
  color: red;
  font-size: 18px;
}

.form-section input {
  padding: 7px 0;
  margin-right: 20px;
}

.form-section p {
  margin-bottom: 7px;
}

.form-section .name-and-phoneNum {
  display: inline-block;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-section .types-and-quantities {
  display: inline-block;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-section .address {
  display: inline-block;
  margin-bottom: 15px;
}

.form-section .address input {
  width: 190%;
}

.form-section .more-infor textarea {
  width: 340px;
}

.form-section .more-infor ::-webkit-input-placeholder {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 18px;
}

.form-section .more-infor :-ms-input-placeholder {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 18px;
}

.form-section .more-infor ::-ms-input-placeholder {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 18px;
}

.form-section .more-infor ::placeholder {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 18px;
}

.form-section .image input {
  margin: 0;
  font-size: 15px;
}

.form-section .btn-join {
  display: block;
  text-align: left;
  margin-top: 30px;
  font-size: 18px;
}

.form-section .btn-join a {
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #E56F2D;
  border-radius: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 600;
  color: #E56F2D;
  background: rgba(255, 255, 255, 0.6);
}

.form-section .btn-join a:hover {
  background: #E56F2D;
  color: #fff;
}

@media screen and (max-width: 1500px) {
  .product-section {
    width: 80%;
    margin: 0 auto;
  }
  .product-section .product-item {
    width: 31%;
    min-width: 280px;
  }
}

@media screen and (max-width: 1017px) {
  .feedback-section .feedback-item {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .feedback-section .feedback-item .feedback-image {
    height: 300px;
  }
}

@media screen and (max-width: 1125px) {
  .product-section {
    width: 80%;
    margin: 0 auto;
  }
  .product-section .product-item {
    width: 47%;
    min-width: 280px;
  }
  .introduction .introduction-infor, .introduction .meaning-infor, .meaning .introduction-infor, .meaning .meaning-infor {
    word-spacing: 0px;
  }
  .introduction .introduction-infor .btn-join, .introduction .meaning-infor .btn-join, .meaning .introduction-infor .btn-join, .meaning .meaning-infor .btn-join {
    display: block;
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
  }
  .introduction .introduction-infor .btn-join a, .introduction .meaning-infor .btn-join a, .meaning .introduction-infor .btn-join a, .meaning .meaning-infor .btn-join a {
    padding: 7px;
  }
  .introduction .introduction-infor p, .introduction .meaning-infor p, .meaning .introduction-infor p, .meaning .meaning-infor p {
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 14px !important;
  }
  .introduction .introduction-infor p b, .introduction .meaning-infor p b, .meaning .introduction-infor p b, .meaning .meaning-infor p b {
    font-size: 16px;
  }
  .introduction .introduction-infor i, .introduction .meaning-infor i, .meaning .introduction-infor i, .meaning .meaning-infor i {
    margin-right: 0px !important;
    font-size: 15px !important;
  }
  .product-item {
    background-size: contain !important;
    background-repeat: no-repeat;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    padding-bottom: 30%;
  }
}

@media screen and (max-width: 833px) {
  .product-section {
    width: 80%;
    margin: 0 auto;
  }
  .product-section .product-item {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .product-section .product-item .wrapper-image {
    height: 220px;
    margin: 10px auto;
  }
  .product-section .product-item .wrapper-image .product-image {
    height: 220px;
  }
}

@media screen and (max-width: 920px) {
  header nav .logo {
    padding-left: 50px;
  }
  header nav ul a {
    font-size: 16px;
  }
  .mySlides {
    background-size: contain !important;
    padding-top: 40%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 890px) {
  header nav .checkbtn {
    display: block;
  }
  header nav ul {
    position: absolute;
    width: 100%;
    height: 423px;
    background: rgba(37, 37, 37, 0.6);
    top: 92px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header nav ul li {
    display: block;
  }
  header nav ul li a {
    font-size: 20px;
    color: #fff;
  }
  header nav ul li a.active,
  header nav ul li a:hover {
    color: #E56F2D;
  }
  header nav ul .dropdown-menu {
    z-index: 100;
    width: 100px;
    height: 200px;
    -webkit-transition: none;
    transition: none;
    margin-top: -20px;
  }
  header nav #check:checked ~ ul {
    margin-top: -10px;
    left: 0;
  }
}

@media screen and (max-width: 735px) {
  .introduction-image, .meaning-image {
    width: 100% !important;
    height: 300px !important;
    margin: 0;
  }
  .introduction-infor, .meaning-infor {
    width: 100% !important;
    line-height: 15px;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(37, 37, 37, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  .overlay .feedback-infor {
    color: #fff;
    position: absolute;
    top: 40%;
    width: 80%;
  }
  .overlay .feedback-infor h3 {
    font-size: 18px;
  }
  .overlay .feedback-infor p {
    font-size: 15px;
  }
}

@media screen and (max-width: 556px) {
  .banner h1 {
    font-size: 150%;
  }
  .banner .btn {
    padding: 7px 0;
    font-size: 14px;
    margin-top: -10px;
    margin-left: 0;
  }
  .contact-input-email {
    width: 280px !important;
  }
  .contact-input-email input {
    width: 170px !important;
  }
  .banner {
    background-image: url(../image/banner-nd-mobile.jpg);
    background-size: cover;
    background-size: contain;
    background-position: top;
  }
}

@media only screen and (max-width: 500px) {
  .banner {
    background-image: url(../image/banner-nd-mobile.jpg);
    background-size: cover;
    background-size: contain;
    background-position: top;
  }
}

@media only screen and (max-width: 452px) {
  .form-section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
    font-size: 18px;
  }
  .form-section span {
    color: red;
    font-size: 18px;
  }
  .form-section input {
    padding: 7px 0;
    margin-right: 20px;
    width: 250px;
  }
  .form-section p {
    margin-bottom: 7px;
    margin-top: 10px;
  }
  .form-section .address input {
    width: 250px;
  }
  .form-section .more-infor textarea {
    width: 250px;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */